@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

/* Custom Selection Color */
::selection {
  background-color: #c6a982;
  color: #000;
}

/* Hide Scrollbar but keep functionality */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
